body {
  --success: #0fdc0f;
  --failure: #fa3434;
  --warning: #fdd716;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

  & > h5 {
    margin: 0;
  }

  & > i {
    font-size: 26rem;
  }
}
