.v-media-player {
  min-width: 100%;
  --plyr-color-main: var(--primary);

  video {
    height: 100%;
    min-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  * {
    all: revert;

    &:after {
      all: revert;
    }
  }
}