body {
  --success: #0fdc0f;
  --failure: #fa3434;
  --failure-bg: #3a0d06;
  --warning: #fdd716;
  --secondary-text: #ffde39;
  --inactive-text: #7c7c7c;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  display: flex;
  gap: 10rem;
  margin-bottom: 15rem;

  & > h5 {
    margin: 0;
  }

  & > i {
    border-radius: 0;
    font-size: 26rem;
  }
}

.modal-desc {
  margin: 20rem 10rem;
}
