body {
  --primary: #df2722 !important;
  --outline: #df2722 !important;
  --on-primary: black !important;
}

.overlay.active {
  backdrop-filter: saturate(200%) blur(2rem);
}

.Vue-Toastification {
  &__toast {
    padding: 10rem 24rem;
    margin-bottom: 10rem;

    & > svg {
      border-radius: initial;
    }

    &-body {
      display: flex;
      align-items: center;
    }

    &--warning {
      background-color: #a98600;
    }
  }

  &__close-button {
    box-shadow: none;
    padding-left: 0;
    margin-left: 10rem;
  }
}

.field > input:disabled + label:not(.active) {
  opacity: .5;
}